<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HospitalEntities" connectionString="metadata=&quot;res://*/Data Layer.HospitalEntity.csdl|res://*/Data Layer.HospitalEntity.ssdl|res://*/Data Layer.HospitalEntity.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=lttq2.database.windows.net;initial catalog=LTTQ;user id=AAA;password=Mothaiba123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LTTQEntities" connectionString="metadata=&quot;res://*/Data Layer.HospitalModel.csdl|res://*/Data Layer.HospitalModel.ssdl|res://*/Data Layer.HospitalModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=lttq2.database.windows.net;initial catalog=LTTQ;persist security info=True;user id=AAA;password=Mothaiba123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>